<div *ngIf="selectedPizza" class="row">
  <div class="col-md-4 col-sm-12">
    <h2>Ma Pizza</h2>
    <app-pizza (eventEmitter)="pizzaDeselected($event)" [pizza]="selectedPizza" [select]="false"></app-pizza>
  </div>

  <div class="col-md-8 col-sm-12">
    <h2>Liste Ingrédients</h2>
    <app-list-ingredients (eventEmitter)="ingredientSelected($event)" [ingredients]="ingredients" [type]="'card'"></app-list-ingredients>
  </div>
</div>

<div class="col-12 my-5">
  <h2>Menu Pizzas</h2>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label for="sort-field" class="col-form-label">Tri par :</label>
      <select id="sort-field" [(ngModel)]="sort.field" class="form-control">
        <option value="name">Nom</option>
        <option value="price">Prix</option>
      </select>
    </div>

    <div class="form-group col-md-6 col-sm-12">
      <label for="sort-order" class="col-form-label">Ordre : </label>
      <select id="sort-order" [(ngModel)]="sort.order" class="form-control">
        <option value="asc">Ascendant</option>
        <option value="desc">Descendant</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let pizza of pizzas | sort:sort.field:sort.order" class="col-3">
      <app-pizza (eventEmitter)="pizzaSelected($event)" [pizza]="pizza" [select]="true"></app-pizza>
    </div>
  </div>
</div>

<app-author [user]="user"></app-author>
