<div *ngIf="pizza" class="card my-3">
  <img [alt]="pizza.name" [src]="pizza.image" class="card-img-top img-fluid">
  <div class="card-body">
    <h5 *ngIf="!edit" class="card-title">{{pizza.name}}</h5>
    <label *ngIf="edit">Name : <input [(ngModel)]="pizza.name" class="card-title"></label>
    <p class="card-text">
      <span *ngIf="!edit">{{pizza.price | tax | currency}}</span>
      <label *ngIf="edit">Price : <input [(ngModel)]="pizza.price"></label>

      <app-list-ingredients [ingredients]="pizza.ingredients" [type]="'list'"></app-list-ingredients>
    </p>

    <div style="text-align: center">
      <button (click)="onSelect(pizza)" *ngIf="select" class="btn btn-primary">Sélectionner</button>
      &nbsp;
      <a *ngIf="select" [routerLink]="['/pizzas/', pizza.id]" class="btn btn-info">Détails</a>

      <button (click)="onSelect(pizza)" *ngIf="!select" class="btn btn-warning">Désélectionner</button>
      &nbsp;
      <button (click)="editPizza()" *ngIf="!edit && !select" class="btn btn-primary">Modifier</button>
      <button (click)="save()" *ngIf="edit && !select" class="btn btn-primary">Modifier</button>
      &nbsp;
      <button (click)="delete()" *ngIf="!select" class="btn btn-danger">Supprimer</button>
    </div>
  </div>
</div>
