<div *ngIf="pizza" class="card my-3">
  <img [alt]="pizza.name" [src]="pizza.image" class="card-img-top img-fluid">
  <div class="card-body">
    <h5 class="card-title">{{pizza.name}}</h5>
    <p class="card-text">
      {{pizza.price | tax | currency}}
      <app-list-ingredients [ingredients]="pizza.ingredients" [type]="'list'"></app-list-ingredients>
    </p>
    <button (click)="onSelect(pizza)" *ngIf="select" class="btn btn-primary">Select this pizza</button>
    <button (click)="onSelect(pizza)" *ngIf="!select" class="btn btn-warning">Unselect this pizza</button>
  </div>
</div>
