<p>pizza-form-page works!</p>

<form #pizzaForm="ngForm" (ngSubmit)="save()" class="row">
  <div class="col-sm-4">
    <h2>Create Pizza</h2>
    <div class="form-group">
      <label class="col-form-label" for="name">Name</label>
      <input [(ngModel)]="pizza.name" class="form-control" id="name" minlength="5" name="name" required>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="price">Prix</label>

      <div class="input-group">
        <input [(ngModel)]="pizza.price" class="form-control" id="price" name="price" required [class.is-invalid]="">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">€</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label" for="image">Image</label>
      <input [(ngModel)]="pizza.image" class="form-control" id="image" name="image">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="name">Liste Ingredients</label>
      <app-list-ingredients [ingredients]="pizza.ingredients" [type]="'list'"></app-list-ingredients>
    </div>

    <div style="text-align: center">
      <button [class.btn-primary]="pizzaForm.valid" [class.btn-secondary]="pizzaForm.invalid" [disabled]="pizzaForm.invalid" class="btn">Créer la Pizza</button>
      &nbsp;
      <button class="btn btn-danger" routerLink="/pizzas">Annuler</button>
    </div>
  </div>

  <div class="col-sm-8">
    <app-list-ingredients (eventEmitter)="ingredientSelected($event)" [ingredients]="ingredients" [type]="'card'"></app-list-ingredients>
  </div>
</form>
