<app-menu [title]="title"></app-menu>
<div class="container">
  <app-messages></app-messages>

  <div *ngIf="selectedPizza" class="row">
    <div class="col-md-4 col-sm-12">
      <h2>Ma Pizza</h2>
      <app-pizza (eventEmitter)="pizzaDeselected($event)" [pizza]="selectedPizza" [select]="false"></app-pizza>
    </div>

    <div class="col-md-8 col-sm-12">
      <h2>Liste Ingrédients</h2>
      <app-list-ingredients (eventEmitter)="ingredientSelected($event)" [ingredients]="ingredients" [type]="'card'"></app-list-ingredients>
    </div>
  </div>

  <div class="col-12 my-5">
    <h2>Menu Pizzas</h2>
    <div class="row">
      <div *ngFor="let pizza of pizzas" class="col-3">
        <app-pizza (eventEmitter)="pizzaSelected($event)" [pizza]="pizza" [select]="true"></app-pizza>
      </div>
    </div>
  </div>
</div>
