<!--<div *ngIf="ingredients" class="row">
  <div *ngFor="let ingredient of ingredients" class="col-4-lg col-6-sm">
    <div>
      <label>ID :</label>
      {{ingredient.id}}
    </div>

    <div>
      <label>Name :</label>
      {{ingredient.name}}
    </div>

    <div>
      <label>Weight :</label>
      {{ingredient.weight}}
    </div>

    <div>
      <label>Price :</label>
      {{ingredient.price}}
    </div>

    <div>
      <label>Image :</label>
      <img [alt]="ingredient.image" [src]="ingredient.image"/>
    </div>
  </div>
</div>-->

<div *ngIf="ingredients" class="row">
  <div *ngFor="let ingredient of ingredients" class="card col-3-sm my-5">
    <img [alt]="ingredient.name" [src]="ingredient.image" class="card-img-top" style="height: 200px; width: 250px;">
    <div class="card-body">
      <h5 class="card-title">{{ingredient.name}}</h5>
      <p class="card-text">
        Price : {{ingredient.price}}
        Weight : {{ingredient.weight}}
      </p>
      <button (click)="onSelect(ingredient)" class="btn btn-primary">Select this ingredient</button>
    </div>
  </div>
</div>
